
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits           {:git/url "https://github.com/bithandshake/cljc-fruits"
                                             :sha     "bc37e640902d57e32e49c6b24b9d440dd077f2f1"}
         bithandshake/cljc-io               {:git/url "https://github.com/bithandshake/cljc-io"
                                             :sha     "5aa387fb7a119bb189e0865fe8f292617985ac61"}
         mt-devtools/clj-source-code-map    {:git/url "https://github.com/mt-devtools/clj-source-code-map"
                                             :sha     "955d49c061ffbd02702688e2fefd358554bd415b"}
         mt-devtools/clj-syntax-interpreter {:git/url "https://github.com/mt-devtools/clj-syntax-interpreter"
                                             :sha     "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
         mt-devtools/clj-syntax-reader      {:git/url "https://github.com/mt-devtools/clj-syntax-reader"
                                             :sha     "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
         org.clojure/clojure                {:mvn/version "1.10.1"}}}
