
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits           {:git/url "https://github.com/bithandshake/cljc-fruits"
                                             :sha     "643fbaa8fbc0aff5fb7bcf7a9e0272fdf007f883"}
         bithandshake/cljc-io               {:git/url "https://github.com/bithandshake/cljc-io"
                                             :sha     "80a02884e201d2c3a2ed70e20aec674894c7d24d"}
         mt-devtools/clj-source-code-map    {:git/url "https://github.com/mt-devtools/clj-source-code-map"
                                             :sha     "39947e6f2b2b8525eb23b1f138c603f4a27567be"}
         mt-devtools/clj-syntax-interpreter {:git/url "https://github.com/mt-devtools/clj-syntax-interpreter"
                                             :sha     "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
         mt-devtools/clj-syntax-reader      {:git/url "https://github.com/mt-devtools/clj-syntax-reader"
                                             :sha     "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
         org.clojure/clojure                {:mvn/version "1.10.1"}}}
